.cardGrupos {
  height: auto;
  width: 14.0625rem;
  background-color: white;
  border-radius: 8px;
  margin-top: 0.5rem;
  padding-top: 12px;
  color: rgb(0, 0, 0, 0.6);
  font-size: 0.75rem;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgb(140, 140, 140, 0.2);

  .recientes {
    padding-left: 0.75rem;
    .titleRec {
      padding: 0.25rem 0;
      margin-bottom: 0.25rem;
      color: #000000e6;
    }
    .ulRecientes {
      list-style: none;
      padding: 0;
    }
  }

  .liRec {
    color: rgb(0, 0, 0, 0.6);
    .containerSvg {
      display: flex;
      align-items: center;
      padding: 0.25rem 0;
      font-weight: 600;
      transition: 0.1s;

      &:hover {
        cursor: pointer;
        color: rgb(0, 0, 0, 0.9);
        background-color: rgba(0, 0, 0, 0.08);
        margin-left: -0.75rem; 
        padding-left:  0.75rem; 
        width: calc(94.2% + 12px); 
      }
      .sgvGrupo {
        margin-right: 0.5rem;
        fill: rgb(0, 0, 0, 0.75);
      }
    }
  }

  .grupos {
    padding: 1rem 0 0 0.75rem;
    .texGrup {
      padding: 0.5rem 0 0.3125rem 0;
      margin-bottom: 3px;
      color: #0a66c2;
      font-weight: 600;
    }

    .ulRecientes {
      list-style: none;
      padding: 0;
    }
  }

  .texMostarMas {
    display: flex;
    align-items: center;
    padding: 0.3125rem 1.5rem 0 1.5rem;
    font-weight: 600;
    position: relative;

    .flechaSvg {
      padding-left: 0.187rem;
      position: absolute;
      top: 36%;
      left: 43.5%;
      .flechaMas {
        fill: rgb(0, 0, 0, 0.6);
      }
    }

    &:hover {
      cursor: pointer;
      color: #000000e6;

      .flechaMas {
        fill: #000000e6;
      }
    }
  }

  .eventos {
    margin-top: 1rem;
    padding-left: 0.75rem;

    .texEvent {
      padding: 0.875rem 0 0.25rem 0;
      color: #0a66c2;
      font-weight: 600;
      margin-bottom: 0.25rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .hastags {
      padding: 0.5rem 0 0.1875rem 0;
      color: #0a66c2;
      font-weight: 600;
      margin-bottom: 0.3125rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .verMass {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(140, 140, 140, 0.2);

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.08);
    }

    .mas {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      font-size: 0.875rem;
      font-weight: 600;
      color: rgb(0, 0, 0, 0.75);
      padding-bottom: 0.125rem;
    }
  }
}
