.cardGrupos {
  height: auto;
  width: 225px;
  background-color: white;
  border-radius: 8px;
  margin-top: 8px;
  padding-top: 12px;
  color: rgb(0, 0, 0, 0.6);
  font-size: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgb(140, 140, 140, 0.2);

  .recientes {
    padding-left: 12px;
    .titleRec {
      padding: 4px 0;
      margin-bottom: 4px;
      color: #000000e6;
    }
    .ulRecientes {
      list-style: none;
      padding: 0;
    }
  }

  .liRec {
    color: rgb(0, 0, 0, 0.6);
    .containerSvg {
      display: flex;
      align-items: center;
      padding: 4px 0px;
      font-weight: 600;
      transition: 0.1s;

      &:hover {
        cursor: pointer;
        color: rgb(0, 0, 0, 0.9);
        background-color: rgba(0, 0, 0, 0.08);
        margin-left: -12px; /* Ajusta el margen negativo */
        padding-left: 12px; /* Compensa el margen negativo */
        width: calc(94.2% + 12px); /* Ajusta el ancho */
      }
      .sgvGrupo {
        margin-right: 8px;
        fill: rgb(0, 0, 0, 0.75);
      }
    }
  }

  .grupos {
    padding: 16px 0 0 12px;
    .texGrup {
      padding: 8px 0 5px 0;
      margin-bottom: 3px;
      color: #0a66c2;
      font-weight: 600;
    }

    .ulRecientes {
      list-style: none;
      padding: 0;
    }
  }

  .texMostarMas {
    display: flex;
    align-items: center;
    padding: 5px 24px 0 24px;
    font-weight: 600;
    position: relative;

    .flechaSvg {
      padding-left: 3px;
      position: absolute;
      top: 29%;
      left: 43.5%;
      .flechaMas {
        fill: rgb(0, 0, 0, 0.6);
      }
    }

    &:hover {
      cursor: pointer;
      color: #000000e6;

      .flechaMas {
        fill: #000000e6;
      }
    }
  }

  .eventos {
    margin-top: 16px;
    padding-left: 12px;

    .texEvent {
      padding: 14px 0 4px 0;
      color: #0a66c2;
      font-weight: 600;
      margin-bottom: 4px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .hastags {
      padding: 8px 0 3px 0;
      color: #0a66c2;
      font-weight: 600;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .verMass {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(140, 140, 140, 0.2);

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.08);
    }

    .mas {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      font-size: 14px;
      font-weight: 600;
      color: rgb(0, 0, 0, 0.75);
      padding-bottom: 2px;
    }
  }
}
