.miCard {
  height: max-content;
  width: 225px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgb(140, 140, 140, 0.2);

  .hrCard {
    border-color: rgba(244, 242, 238, 0.199);
  }

  .containerImg {
    position: relative;
    width: 225px;
    height: 183px;
    .imgPortada {
      width: 100%;
      height: 56px;
      .portadaImg {
        width: 100%;
        height: 56px;
      }
    }

    .imgPersonal {
      text-align: center;

      &:hover {
        cursor: pointer;
      }
      .imgPersonal {
        position: absolute;
        top: 10%;
        left: 34%;
        width: 68px;
        height: 68px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid whitesmoke;
        }
      }

      .nombre {
        line-height: 24px;
        font-size: 16px;
        padding-top: 3.2rem;
        color: rgb(0, 0, 0, 0.9);
        font-weight: 600;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-color: #8443ce;
          text-decoration-thickness: 1.3px;
        }
      }

      .habilidades {
        font-size: 12px;
        line-height: 1.33333;
        margin-top: 3.6px;
        padding: 0 12px;
      }
    }
  }

  .containerSpan {
    height: 45.97px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0 13.5px 0;

    .visualizaciones {
      padding: 4px 12px;
      position: relative;
      color: #0009;
      font-weight: 600;
      line-height: 16px;
      span.derecha {
        position: absolute;
        right: 12px;
        color: #0a66c2;
      }

      &:hover {
        cursor: pointer;
        background-color: rgb(0, 0, 0, 0.08);
      }
    }
  }

  .premiumCard {
    height: 72px;
    border-top: 1px solid rgb(140, 140, 140, 0.2);
    .textoPremium {
      font-size: 0.75rem;
      padding: 0.75rem 0.75rem 0 0.75rem;
    }
    .probarPremium {
      padding: 0 0 0 0.75rem;
      font-size: 0.75rem;
      display: flex;
      align-items: center;

      .probarPremiumTexto {
        padding-left: 0.25rem;
        color: #000000e6;
        font-weight: 600;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(0, 0, 0, 0.08);
    }
  }

  .guardadosContainer {
    padding: 0.75rem;
    border-top: 1px solid rgb(140, 140, 140, 0.2);

    .guardados {
      display: flex;
      align-items: center;

      .svgGuardado {
        padding-right: 0.25rem;
      }
      .svgGuardado path {
        fill: rgba(0, 0, 0, 0.6);
      }
      .guardadoTexto {
        font-size: 0.75rem;
        color: #000000e6;
        font-weight: 600;
        padding-left: 0.25rem;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(0, 0, 0, 0.08);
    }
  }
}
