.buscadorContainer {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgb(140, 140, 140, 0.2);

  .escribir {
    display: flex;
    margin-top: 0.75rem;

    .img {
      width: 48px;
      height: 48px;
      margin: 0 0.5rem 0.25rem 1rem;

      &:hover {
        cursor: pointer;
      }
      .imgMia {
        width: 100%;
        height: 100%;
      }
    }

    .inputEscribir {
      height: 44px;
      width: 80.6%;
      border-radius: 35px;
      border: 1px solid #0000004d;
      font-size: 0.875rem;
      color: #000000e6;
      font-weight: 600;
      padding-left: 1rem;

      &::placeholder {
        color: #424242d2;
        font-size: 16px;
      }

      &:hover {
        background-color: rgb(243, 243, 243);
        text-align: left;
        cursor: pointer;
      }

      &:focus {
        border: 1px solid #0000004d;
        outline: none;
      }
    }
  }

  .contenido {
    height: 52px;
    .ulcontenido {
      height: 52px;
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      width: 99%;
      padding-left: 0.5px;

      .li {
        margin-bottom: 0.25rem;
        margin-left: 0.25rem;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        transition: 0.1s;
        &:hover {
          cursor: pointer;
          background-color: #8c8c8c1a;
          border-radius: 4px;

          strong {
            color: rgba(0, 0, 0, 0.9);
          }
        }

        strong {
          margin-left: 0.5rem;
          color: rgba(0, 0, 0, 0.75);
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 28px;
        }

        .primerSvg {
          fill: #378fe9;
        }

        .segundoSvg {
          fill: #c37d16;
        }

        .tercerSvg {
          fill: #e06847;
        }
      }
    }
  }
}

.abrirPublic {
  width: 744px;
  height: 590px;
  background-color: white;
  border-radius: 8px;
  margin: 0 auto;
  position: absolute;
  top: -0.08%;
  right: 15%;
  z-index: 1;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.28);

  svg {
    width: 24px;
    height: 24px;
  }

  .infoPublic {
    width: max-content;
    display: flex;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: 1rem;
      cursor: pointer;
    }

    img {
      width: 48px;
      height: 48px;
    }

    .infoP {
      margin-left: 0.7rem;
      position: relative;

      .nombre {
        font-size: 20px;
        font-weight: 500;
      }

      .ContainerFlecha {
        position: absolute;
        top: 0.4%;
        right: 0%;
        width: 22px;
        height: 22px;
        fill: rgba(0, 0, 0, 0.6);
        svg {
          width: 22px;
          height: 22px;
        }
      }

      .lugarPublic {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
  .cerrar {
    position: absolute;
    right: 3%;
    top: 3%;
    color: rgba(0, 0, 0, 0.8);
    width: 24px;
    height: 24px;

    &:hover {
      cursor: pointer;
      color: black;
    }
  }

  .inputContainer {
    height: 54.6%;

    .input {
      width: 90%;
      height: 20%;
      border: none;
      padding: 0 2rem;
      font-size: 20px;
      background-color: transparent;
      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 20px;
      }
    }
  }

  .bottomContainer {
    padding: 0 2rem;
    border-bottom: 1px solid rgba(140, 140, 140, 0.2);
    height: 16.7%;

    .svgFeliz {
      fill: rgba(0, 0, 0, 0.8);

      &:hover {
        cursor: pointer;
      }
    }

    .losSvg {
      width: 29%;
      margin-top: 1.44rem;
      display: flex;
      justify-content: space-between;

      strong {
        position: relative;
        transition: 0.9s;

        &.uno::before {
          content: "Añadir contenido";
          left: -55px;
        }

        &.dos::before {
          content: "Crear un evento";
          left: -48px;
        }

        &.tres::before {
          content: "Celebrar una ocasion especial";
          left: -89px;
        }

        &.cuatro::before {
          content: "Mas";
          left: -11px;
        }

        &::before {
          display: none;
        }

        &:hover {
          cursor: pointer;

          &::before {
            position: absolute;
            display: block;
            font-size: 14px;
            font-weight: 400;
            width: max-content;
            text-align: center;
            padding: 0.6rem;
            top: -47px;
            background-color: white;
            color: rgba(0, 0, 0, 0.8);
            box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.28);
            border-radius: 8px;
            z-index: 1;
          }
        }
      }

      svg {
        fill: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .publicar {
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 1rem;

    .btnPublicar {
      border: none;
      border-radius: 1.6rem;
      width: 89px;
      height: 31px;
      padding: 6px 16px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.3);
      background-color: rgba(140, 140, 140, 0.2);
      font-weight: 600;
      display: flex;
      align-items: center;
      margin-left: 0.68rem;
    }

    svg {
      fill: rgba(0, 0, 0, 0.8);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.lineaSeparadora {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
  height: 16px;

  &:hover {
    cursor: pointer;
  }

  .hrSepara {
    width: 73%;
    border-color: rgba(223, 223, 223, 0.473);
  }
  .orden {
    position: absolute;
    top: -1%;
    right: 4%;
    font-size: 0.75rem;
    line-height: 16px;
    text-align: center;

    strong {
      color: #000000e6;
      font-weight: 600;
    }

    .flechita {
      position: absolute;
      top: 0%;
      right: -19%;
    }
  }

  .ordenarContainer {
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 100%;
    width: 168px;
    height: 79px;
    background-color: white;
    border-radius: 8px 3px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.28);

    p {
      padding-left: 1.2rem;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: 600;
      &:hover {
        background-color: rgba(140, 140, 140, 0.1);
      }
    }

    .ordenarPubli {
      border-left: 2px solid #01754f;
      color: #01754f;
      padding-left: 1.11rem;
    }
  }
}

@media screen and (max-width: 1199px) {
  .buscadorContainer {
    .escribir .inputEscribir {
      width: 72.2%;
    }
    .contenido {
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .ulcontenido {
        flex-wrap: wrap;
        height: 97px;
        width: 100%;
        padding-top: 0.09rem;
        .li {
          margin-left: 0;

          strong {
            margin-left: 0.47rem;
          }
        }
      }
    }
  }

  .lineaSeparadora {
    .hrSepara {
      width: 61.5%;
    }
    .orden {
      right: 5.4%;

      .flechita {
        right: -21px;
      }
    }
  }

  .abrirPublic {
    left: 17%;
    right: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .abrirPublic {
    left: inherit;
    right: 3%;
  }
}
@media screen and (max-width: 991px) {
  .buscadorContainer {
    height: 7.25rem;
    .escribir .inputEscribir {
      width: 77.1%;
    }
    .contenido {
      height: 0;

      .ulcontenido {
        height: 0;
      }
    }
  }

  .lineaSeparadora {
    .hrSepara {
      width: 68.5%;
    }

    .orden {
      right: 4.5%;
    }
  }
}

@media screen and (max-width: 786px) {
  .abrirPublic {
    width: 590px;
    right: 1%;
  }
}

@media screen and (max-width: 767px) {
  .buscadorContainer .escribir .inputEscribir {
    width: 81.4%;
  }

  .lineaSeparadora {
    .hrSepara {
      width: 74.3%;
    }

    .orden {
      right: 3.7%;
    }
  }
}

@media screen and (max-width: 600px) {
  .lineaSeparadora .hrSepara {
    width: 67.3%;
  }

  .buscadorContainer .escribir .inputEscribir {
    width: 75%;
  }

  .abrirPublic {
    width: 100%;
    right: inherit;
    top: -1%;
    height: 102vh;

    .bottomContainer {
      .losSvg {
        margin-top: 3.44rem;
        width: 60%;

        strong {
          &.uno::before {
            left: -10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .containerMid {
    display: none;
  }

  .abrirPublic {
    background-color: red;
  }
}
