* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  p,
  span {
    color: rgba(0, 0, 0, 0.6);
  }
}

//modo oscuro
.header {
  &.oscuro {
    background-color: #1d2226;

    .navbar {
      background-color: #1d2226;

      .containerLogo .logo {
        color: #ffffff;
      }

      .buscador {
        .inputBuscador {
          background-color: #2d333a;
          color: #ffffff;

          &::placeholder {
            color: white;
          }
        }

        .lupaBuscador {
          color: white;
        }
      }

      .ulNav {
        .liNav {
          &.home {
            .logos path,
            .flechaAvatar path {
              fill: #ffffff;
            }
            border-color: #ffffff;
          }

          &:hover {
            .logos path,
            .flechaAvatar path {
              fill: #ffffff;
            }

            .nombreLogo {
              color: #ffffff;
            }
          }
          .nombreLogo {
            color: #b0b3b8;
            &.inicio {
              color: rgb(255, 255, 255);
            }
          }

          .logos {
            color: #b0b3b8;
          }
        }

        .flechaAvatar {
          color: #b0b3b8;
        }

        .premium {
          color: #c57807;

          &:hover {
            color: #fd9600;
          }
        }

        .divVisible {
          background-color: #2d333a;

          .personal .info {
            .nombre {
              color: #ffffff;
            }

            .habilidades {
              color: #b0b3b8;
            }
          }

          .btnPerfil {
            background-color: transparent;
            border-color: #1868e3;
            color: #1868e3;

            &:hover {
              background-color: #1868e329;
              color: #b0b3b8;
            }
          }

          .listaVisible {
            .title {
              color: #ffffff;
            }

            .probarPremium {
              color: #b0b3b8;
            }

            .liVisi {
              color: #b0b3b8;

              span {
                color: #b0b3b8;
              }

              &:hover {
                text-decoration-color: #1868e3;
              }
            }
          }
        }
      }

      .lupaMovil {
        color: #b0b3b8;

        .buscarMovil {
          color: #b0b3b8;
        }
      }

      .containerMovil {
        .buscadorCelu {
          .inputBuscador {
            background-color: #2d333a;
            color: #ffffff;

            &::placeholder {
              color: white;
            }
          }

          .BuscadorM {
            color: #ffffff;
          }
        }

        .mensaje {
          color: #b0b3b8;
        }
      }
    }
  }
}

.main {
  //inicio derecha
  &.oscuroMain {
    background-color: #050505;

    .miCard {
      background-color: #1d2226;

      .containerImg {
        .imgPersonal {
          .nombre {
            color: #ffffff;
          }
          .habilidades {
            color: #b0b3b8;
          }
        }
      }

      .hrCard {
        border-color: rgba(140, 140, 140, 0.2);
      }

      .containerSpan {
        .visualizaciones {
          color: #b0b3b8;

          &:hover {
            background-color: #2d333a;
          }

          span.derecha {
            color: #007fff;
          }
        }
      }

      .premiumCard {
        p {
          color: #b0b3b8;
        }

        .probarPremium .probarPremiumTexto {
          color: #b0b3b8;
        }

        &:hover {
          background-color: #2d333a;
        }
      }

      .guardadosContainer {
        .guardados {
          .svgGuardado {
            path {
              fill: #b0b3b8;
            }
          }
          .guardadoTexto {
            color: #b0b3b8;
          }
        }
        &:hover {
          background-color: #2d333a;
        }
      }
    }

    .cardGrupos {
      background-color: #1d2226;

      .recientes {
        .titleRec {
          color: #ffffff;
        }
        .liRec {
          color: #b0b3b8;
          .containerSvg {
            .sgvGrupo {
              fill: #b0b3b8;
            }
            &:hover {
              color: #ffffff;
              background-color: #2d333a;
            }
          }
        }
      }

      .grupos {
        .texGrup {
          color: #007fff;
        }

        .liRec {
          color: #b0b3b8;

          .containerSvg {
            .sgvGrupo {
              fill: #b0b3b8;
            }

            &:hover {
              color: #ffffff;
              background-color: #2d333a;
            }
          }
        }
        p {
          color: #b0b3b8;
        }
      }
      .texMostarMas {
        .flechaSvg .flechaMas {
          fill: #b0b3b8;
        }
        &:hover {
          color: #ffffff;

          .flechaMas {
            fill: #ffffff;
          }
        }
      }

      .eventos {
        .texEvent {
          color: #007fff;
        }
        .hastags {
          color: #007fff;
        }
      }

      .verMass .mas {
        color: #b0b3b8;
        &:hover {
          background-color: #2d333a;
          color: #ffffff;
        }
      }
    }
    //fin derecha

    //inicio mid
    .buscadorContainer {
      background-color: #1d2226;

      .escribir {
        .inputEscribir {
          background-color: transparent;
          border-color: #2d333a;
          &::placeholder {
            color: #b0b3b8;
          }
        }
      }

      .contenido .ulcontenido .li strong {
        color: #b0b3b8;
      }
    }

    .lineaSeparadora {
      .hrSepara {
        border-color: rgba(140, 140, 140, 0.425);
      }
      .orden {
        color: #b0b3b8;

        strong {
          color: #ffffff;

          .flechita {
            fill: #ffffff;
          }
        }
      }
    }

    .publicacionContainer {
      background-color: #1d2226;

      .publiTop {
        .infoPersonal {
          .name {
            color: #ffffff;
          }
          .descripcion,
          .hora {
            color: #b0b3b8;
          }
        }

        .opciones {
          color: #b0b3b8;

          &:hover {
            fill: #ffffff;
          }
        }

        .delete {
          fill: #b0b3b8;

          &:hover {
            fill: #ffffff;
          }
        }
      }

      .titlePublic {
        color: #b0b3b8;
      }

      .detalles {
        border-color: rgba(140, 140, 140, 0.342);

        span {
          color: #b0b3b8;
        }

        .detallesCom {
          .spanButtom {
            &.comentario {
              &::after {
                color: #b0b3b8;
              }
            }
          }
        }
      }

      .abajo .btnReaccion {
        svg,
        span {
          fill: #b0b3b8;
          color: #b0b3b8;
        }

        &:hover {
          svg,
          span {
            fill: #ffffff;
            color: #ffffff;
          }
        }
      }
    }

    //fin mid

    //inicio right
    .containerSeguir {
      background-color: #1d2226;

      .titleContainer {
        .title {
          color: #ffffff;
        }

        .svg svg {
          fill: #b0b3b8;
        }
      }

      .seguir .info {
        .nombre {
          color: #ffffff;
        }

        .talento {
          color: #b0b3b8;
        }

        .btnSeguir {
          color: #b0b3b8;
          border-color: #b0b3b8;
        }
      }

      .recomendaciones {
        color: #b0b3b8;

        &:hover {
          color: #ffffff;
        }
      }
    }

    .footer .ulFooter .liFoo {
      color: #b0b3b8;

      &:hover {
        color: #007fff;
      }

      .flechita {
        color: #b0b3b8;
      }
    }
    //fin rigth

    //inicio mensaje
    .containerGrid .mensaje {
      background-color: #1d2226;

      .imgMensaje .pMensaje {
        color: #ffffff;
      }

      .logos ul .logosMsj .svgMensaje {
        fill: #b0b3b8;

        &:hover {
          fill: #ffffff;
        }
      }
    }

    .liMovil {
      background-color: #1d2226;

      .containerLiMovil .liNav {
        &.home {
          border-color: #ffffff;
          .logos {
            fill: #ffffff;
          }

          span {
            color: #ffffff;
          }
        }
        .logos {
          fill: #b0b3b8;
        }
        span {
          color: #b0b3b8;
        }

        &:hover {
          .logos{
            fill: #ffffff;
          }
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}
