.divVisible {
  position: absolute;
  bottom: -27.4rem;
  right: 34%;
  background-color: rgb(254, 254, 254);
  z-index: 1;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 19rem;

  .personal {
    display: flex;
    padding: 0.5rem;
    .imgPersonal {
      width: 50px;
      height: 50px;
    }

    .info {
      padding: 0 0.6rem;
      width: 68%;
      .nombre {
        font-size: 16px;
        color: #000000e6;
        margin-bottom: 0.3rem;
      }

      .habilidades {
        font-size: 14px;
        font-weight: 400;
        color: #000000e6;
        width: 94%;
      }
    }
  }

  .btnPerfil {
    border-radius: 20px;
    height: 1.8rem;
    width: 90%;
    background-color: transparent;
    border: 1px solid #0a66c2;
    padding: 0;
    color: #0a66c2;
    font-size: 16px;
    font-weight: 600;
    margin: 0 1rem;

    &:hover {
      cursor: pointer;
      background-color: #1869e328;
    }
  }

  .listaVisible {
    list-style: none;
    padding: 0.4rem 1rem;
    position: relative;

    .title {
      color: #000000e6;
      font-size: 16px;
      font-weight: 600;
      margin: 0.5rem 0 0.5rem 0;

      &.gestion {
        margin: 0.7rem 0 0.2rem 0;
      }
    }

    .probarPremium {
      font-weight: 600;
      cursor: pointer;
      display: flex;

      .svg {
        padding-top: 0.2rem;
        margin-right: 0.3rem;
      }
    }

    .liVisi {
      color: #0009;
      font-size: 14px;
      padding: 0.2rem 0.2rem 0.2rem 0;
      cursor: pointer;

      &.btn {
        display: flex;
        align-items: center;
        position: relative;
        .toggle-container {
          position: absolute;
          right: 5%;
        }
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: #0a66c2;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .divVisible {
    left: 0%;
  }
}

.toggle-container {
  --active-color: #1868e3;
  --inactive-color: #d3d3d6;
  position: relative;
  aspect-ratio: 292 / 142;
  height: 1.875em;

  .toggle-input {
    appearance: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .toggle {
    width: 100%;
    height: 100%;
    overflow: visible;

    .toggle-background {
      fill: var(--inactive-color);
      transition: fill 0.4s;
    }

    .toggle-circle-center {
      transform-origin: center;
      transition: transform 0.6s;
    }

    .toggle-circle {
      transform-origin: center;
      transition: transform 0.45s;
      backface-visibility: hidden;

      &.left {
        transform: scale(1);
      }

      &.right {
        transform: scale(0);
      }
    }

    .toggle-icon {
      transition: fill 0.4s;

      &.on {
        fill: var(--inactive-color);
      }

      &.off {
        fill: #eaeaec;
      }
    }
  }

  .toggle-input:checked + .toggle {
    .toggle-background {
      fill: var(--active-color);
    }

    .toggle-circle-center {
      transform: translateX(150px);
    }

    .toggle-circle {
      &.left {
        transform: scale(0);
      }

      &.right {
        transform: scale(1);
      }
    }

    .toggle-icon {
      &.on {
        fill: #fff;
      }

      &.off {
        fill: var(--active-color);
      }
    }
  }
}
