.ulNav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;

  .liNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 5rem;
    height: 52px;
    max-height: 52px;
    font-size: 0.75rem;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

    &:hover {
      color: black;

      .logos path,
      .flechaAvatar path {
        fill: #000000e6;
      }

      .divAvatar,
      .divNegocio {
        color: black;
      }
    }

    .logos {
      display: flex;
      justify-content: center;
      color: rgb(0, 0, 0, 0.6);
      transition: color 0.3s ease;
    }

    .imgAvatar {
      width: 24px;
      height: 24px;
    }

    .divAvatar {
      display: flex;
      width: 1.7rem;
    }

    &.home {
      color: black;
      border-bottom: 2px solid rgb(0, 0, 0);
      padding: 5px 0 4px 0;
      height: 1%;
      .logos path,
      .flechaAvatar path {
        fill: #000000e6;
      }
    }
  }

  .negocio {
    width: 5.7rem;
    padding-left: 0.67rem;
    border-left: 1px solid rgb(140, 140, 140, 0.2);

    .divNegocio {
      display: flex;
      text-align: center;
      width: 5.56rem;
    }
  }

  .flechaAvatar {
    color: rgb(0, 0, 0, 0.6);
  }
  .premium {
    width: 7.81rem;
    font-size: 0.75rem;
    line-height: 18px;
    padding: 0px 0 0 9.5px;
    text-align: center;
    text-decoration: underline;
    color: #915907;

    &:hover {
      color: #5c3b09;
      cursor: pointer;
    }
  }
}
