.containerSeguir {
  border-radius: 8px;
  height: 382px;
  padding: 12px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px rgb(140, 140, 140, 0.2);
  .titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    position: relative;
    margin-top: 1px;
    .title {
      font-weight: 600;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.9);
    }

    .svg {
      svg {
        fill:rgb(64, 64, 64);
        position: absolute;
        right: 0%;
        bottom: -1%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .seguir {
    display: flex;
    margin-bottom: 12px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 12px;
    }
    .info {
      display: flex;
      flex-direction: column;

      .nombre {
        color: #000000e6;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 1px;
      }

      .talento {
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        line-height: 20px;
        height: max-content;
        width: 216px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 4px;
      }

      .btnSeguir {
        width: 96px;
        height: 32px;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.75);
        background-color: transparent;
        line-height: 20px;
        font-size: 16px;
        font-weight: 600;
        padding-left: 13px;
        color: rgba(0, 0, 0, 0.75);

        .cruz {
          padding-right: 4px;
        }

        &:hover {
            background-color: #8c8c8c1a;
            cursor: pointer;
            padding-left: 12px;
            border: 2px solid black;
        }
      }
    }
  }

  .recomendaciones {
    width: 220px;
    margin-top: 14px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    font-weight: 600;
    padding: 2px 8px;
    position: relative;

    .strongReco {
      position: absolute;
      top: 28%;
      right: 5%;
    }

    &:hover {
      border-radius: 4px;
      cursor: pointer;
      color: #000000E6;
      background-color: rgba(140, 140, 140, 0.1);
    }
  }
}
