.footer {
  margin-top: 1.25rem;
  width: 18rem;
  .ulFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    margin: 1rem 1.5rem;
    padding: 0;

    .liFoo {
      display: flex;
      text-align: left;
      margin: 0.25rem 0.5rem;
      list-style: none;
      font-size: 0.75rem;
      line-height: 1rem;
      color: #0009;
      position: relative;

      .flechita {
        position: absolute;
        top: 10%;
        right: -14%;
      }

      &:hover {
        cursor: pointer;
        color: #0A66C2;
        text-decoration: underline;
      }
    }
  }
}
